<!-- Dědí základní šablonu base.html -->
{% extends "base.html" %}
<!-- Vložení informace do bloku titulu stránky -->
{% block title %}Seznam tanků{% endblock %}
<!-- Obsahový blok stránky -->
{% block content %}
    <div class="row mb-3">
        <div class="col-sm-12 bg-warning">
            <h2 class="display-4 text-center">Seznam tanků</h2>
        </div>
    </div>
    <div class="row">
        <!-- Postupné načtení filmů z proměnné films_list -->
        {% for tank in tank_list %}
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    {% for images in tank.attachment_set.all %}
                    <div class="col-lg-6 col-xl-4">
                     <img class="card-img-top" src="{{ images.image.url }}" alt="{{ tank.name }}">
                    </div>
                {% endfor %}
                    <div class="card-body"><h4 class="card-title">{{ tank.name }}</h4>
                        <p class="card-text"><strong>Typ Tanku</strong>
                            {% for types in tank.types %}{{ types }}{% endfor %}</p>
                        <p class="card-text"><strong>Národnost</strong>
                            {% for nations in tank.nations %}{{ nations }}{% endfor %}</p>
                        <p class="card-text"><strong>Tier/úroveň</strong>
                            {% for tier in tank.tier %}{{ tier }}{% endfor %}</p>
                        <a href="#" class="btn btn-primary">Podrobnosti</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}